/* @import "tailwindcss";
html,
body,
#root {
  height: 100%;
}
body {
  @apply bg-gray-50 text-gray-800;
} */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: radial-gradient(
      circle at top left,
      rgba(99, 102, 241, 0.15),
      transparent 40%
    ),
    radial-gradient(
      circle at bottom right,
      rgba(56, 189, 248, 0.15),
      transparent 40%
    ),
    linear-gradient(to bottom right, #f8fafc, #eef2ff);
}

.glass {
  @apply bg-white/40 backdrop-blur-xl border border-white/20 shadow-lg;
}

.dark .glass {
  @apply bg-white/10 border-white/10 shadow-xl;
}
.dark body {
  background: radial-gradient(
      circle at top left,
      rgba(99, 102, 241, 0.12),
      transparent 40%
    ),
    radial-gradient(
      circle at bottom right,
      rgba(56, 189, 248, 0.12),
      transparent 40%
    ),
    linear-gradient(to bottom right, #0f172a, #020617);
}
